[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
tqdm = "*"
glob2 = "*"
wikiextractor = "==0.1"

[dev-packages]

[requires]
python_version = "3.8"
